*{
    background-color:#272635;
    margin:0%;
    padding:0%;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 540;
    
}  
   

.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 50px;
    background-color: #a6a6a8;
}
.left{
    display:flex;
    justify-content:start;
    align-items: center;
   
}
#logo{
    font-family:sans-serif;
    font-size: larger;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 4px;
}
ul{
    display: flex;
    justify-content:space-around;
    align-items: space-between;
    position: relative;
    right: 10%;
    background-color: #a6a6a8;
    
}
.list{
    list-style: none;
    display: flex;
    justify-content:space-between;
    width:40%;
    background-color: #a6a6a8;
}
li a{
    background-color: #a6a6a8;
    text-decoration: none;
}
li a:hover{
    color:#b1e5f2 ;
}
.section{
    display: flex;
    justify-content: space-around;
}
.left-section{
    width: 30%;
    height: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    position: relative;
    top: 4em;
    margin-left: 3em;
}
.name{
    color: #b1e5f2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.web{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
img{
    height: 400px;
    width: 30em;
    margin-top: 100px;
    margin-right: 50px;
    border-radius: 50%;    
}
#element{
    color: #b1e5f2;
}
hr{
    border: 1px solid #b1e5f2;
    margin-top: 8rem;
    
}
#about-section{
    display: flex;
    justify-content:center;    
    margin: 8rem;
}
.heading1{
    position: relative;
    left: 23.8em;
    bottom: 3em;
    width: 20%;
    font-weight: bolder;
    font-size:x-large;
    color: #b1e5f2;
}

.abt{
    height: auto;
    width: 59%;
    font-size: 1.5rem;
    position: relative;
    left: 19em;
    top: 2.6rem;
    color: rgb(205, 203, 201);

}
.rn{
    color: #b1e5f2;
}
#goal{
    margin-top:25px;
    color: rgb(255, 252, 249);

}
.img2{
    width: 600px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    right:55%;
    top: 2em;
    background-image: url('developer-web-responsive-design-vector-10547200.jpg');
    background-size:cover;
}
.icons{
    display:inline-flex;
    position: relative;
    top: 2em;

}
#git{
    width: 40px;
    height: 40px;
    position: relative;
    top:19px;
    margin: 0px 10px 0px 40px;
}
#linkdn{
    width: 40px;
    height: 40px;
    position: relative;
    top:19px;
    margin: 0px 4px 0px 20px;
}
#insta{
    width: 40px;
    height: 40px;
    position: relative;
    top:19px;
    margin: 4.2px 40px 0px 20px;
}
footer{
    background-color: rgb(10, 10, 22);
    width: 100%;
    height: 8em;
}
#cpy{
    position: relative;
    top: 80px;
    left: 42%;
    color: #a6a6a8;

}
.copy{
    position: relative;
    top:80px;
    left: 42%;
    color: #a6a6a8;
    background-color: rgb(10, 10, 22);

}
button{
    width: 10em;
    height: 40px;
    position: relative;
    background-color: #a6a6a8;
    margin:3em 0em 0em 0em;
    border-radius: 10em;
    border: 0px transparent ;
    color: rgb(10, 5, 13);
    font-weight: bolder;
}
button:hover{
    background-color: #d0ced7;
}
#project-sec{
    display: flex;
    justify-content:center;    
    margin: 8rem;
   
}
#contact-sec{
    height: 40em;
}
.heading2{
    position: relative;
    left:15em ;
    bottom: 2em;
    width: 20%;
    font-weight: bolder;
    font-size:x-large;
    color: #b1e5f2;
}
.links{
    width:600px;
    height: 400px;
    position: relative;
    right: 10%;
    
}
.link1{
    font-size: medium;
    color: #b1e5f2;
    position: absolute;
    margin-top: 4em;
}
.link2{
    font-size: medium;
    color: #b1e5f2;
    position: absolute;
    margin: 7em 24.4em 0 0;
}
.link3{
    font-size: medium;
    color: #b1e5f2;
    position: absolute;
    margin-top: 10em;
    margin-right:25% ;
}
.heading3{
    position: relative;
    left:6em ;
    top: 1.4em;
    width: 20%;
    font-weight: bolder;
    font-size:x-large;
    color: #0b0c0c;
    background-color: #e3e3e8;
}
.form{
    width:30%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    left: 35%;
    top: 20%;
    background-color: #f8f8fc;
    background-size: cover;

}
input{
    background-color:rgb(192, 195, 199);
    color: rgb(14, 13, 13);
    border: 1px solid transparent;
    text-align:start;
}

#name{
    display: flex;
    border-radius: 10px;
    position: relative;
    top: 6em;
    left: 10%;
    width: 75%;
    height: 20px;

}
input::placeholder{
    color: rgb(131, 128, 128);
    font-style: italic;
}

#email{
    display: flex;
    border-radius: 10px;
    position: relative;
    left: 10%;
    width: 75%;
    top: 8em;
    height: 20px;

}
#mssg{
    display: flex;
    position: relative;
    top: 10em;
    left: 10%;
    width: 75%;
    border-radius: 10px;
    height: 50px;
}
#send{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10em;
    left: 10%;
    background-color:rgb(192, 195, 199) ;
}
#send:hover{
    background-color: #a6a6a8;
}
.footerlink{
    background-color:rgb(10, 10, 22);
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:50%;
    left: 25%;
    top: 30px;
}
#f1{
    background-color: rgb(10, 10, 22);
    color: #a6a6a8;
}
